{% extends "base.html.twig" %}
{% block body %}
    <div class="body">
        <div class="nav">
            {% include 'home/nav.html.twig' %}
        </div>  
        <div class="home">
            <div class="br-arr"><h3 class="h3-arr">{{pagina}}</h3></div>
            <div class="put_mess">
                {% if mensajes != " "%}
                     {% include 'home/mensaje.html.twig' %}
                {% endif %}
            </div>
            <div class="text-center" id="loading">
                <img src="uploads/img/ajax-loader.gif" id="ani_img"/>
            </div>
            <div class="br-abj">
                <button class="crear_mensaje" data-bs-toggle="modal" data-bs-target="#Modal1">
                    +<i class="bi bi-pencil-fill"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="Modal1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">Here is a Modal title</h5>
                    </div>
                    <div class="modal-body">
                         {{ form_start(formulario) }}
                            <div class="my-custom-class-for-errors">
                                {{ form_errors(formulario) }}
                            </div>

                            <div class="row">
                                <div class="imagenformulario">
                                    {{ form_row(formulario.imagen) }}
                                </div>
                                <div class="col" id="some-custom-id">
                                    {{ form_row(formulario.mensaje) }}
                                </div>
                            </div>
                        {{ form_end(formulario) }}
                    </div>
            </div>
        </div>
    </div>
    <div class=".card-deck">
    </div>
{% endblock %}
