{% extends "base.html.twig" %}
{% block body %}
    <div class="body">
        <div class="nav">
            {% include 'home/nav.html.twig' %}
        </div>  
        <div class="home">
            <div class="br-arr"><div class="menu-nav" id="menu-nav"><i class="bi bi-list"></i></div><div class="atras" onclick="IrHome()"><i class="bi bi-arrow-left"></i></div><h3 class="h3-arr">{{pagina}}</h3></div>
            {% set userImg = UserLogin(usuario.Id) %}
            <div class="cabecera"> 
                <div>
                    {% if userImg == "" %}
                       <div class="foto_perfil_perfil" data-bs-toggle="modal" data-bs-target="#Modalimg{{usuario.Id}}" style="margin-left: 60px;margin-right: 10px;background-image: url(../../uploads/img/perfil_defecto.png)"></div>
                    {% else %}
                       <div class="foto_perfil_perfil" data-bs-toggle="modal" data-bs-target="#Modalimg{{usuario.Id}}" style="margin-left: 60px;margin-right: 10px;background-image: url(../../uploads/img/{{userImg}})"></div>
                    {% endif %}
                </div>
                    {% include 'modals/modalimgUser.html.twig' %}
                <input id="cod_user" type="text" value="{{usuario.Id}}" hidden/>
                <div>
                    <div class="cab_nom">
                        <div class="nombre_perfil">
                            <h2 class="estilos_nombre">{{usuario.username}}</h2>
                        </div>
                        <div class="editar_perfil">
                        {% if user.Id == usuario.id %}
                             <a href="{{
                                        path(
                                        'editar',
                                        {'id' : user.Id}
                                        )}}">Editar perfil</a>
                        {% else %}
                        {% set follow = FollowUsuario(user.Id , usuario.id) %}
                            {% if follow %}
                                <a class="follow" id="seguir" onclick="Seguir({{user.id}},{{usuario.id}})">Seguir</a>
                            {% else %}
                                <a class="unfollow" id="seguir" onclick="DejarSeguir({{user.id}},{{usuario.id}})"><i class="bi bi-person-check-fill"></i></a>
                            {% endif %}
                        {% endif %}
                        </div> 
                        {% if user.Id == usuario.id %}
                        <div title="cerrar sesion" class="cerrarSesion">
                            <a href="/logout"><i class="bi bi-box-arrow-left"></i></a>
                        </div>
                        {% endif %}
                    </div> 
                    <div class="informacion">
                        <div class="num_publi"><div class="num">{{totalMensajes}}</div> sends</div>
                        <div onclick="seguidores({{usuario.id}})" class="num_seguidores"><div id="seguidores" class="num">{{seguidores}}</div> seguidores</div>
                        <div onclick="seguidos({{usuario.id}})" class="num_seguidos"><div class="num">{{seguidos}}</div> seguidos</div>
                    </div>
                    <div class="descripcion_perfil">{{usuario.description|nl2br}}</div>
                    
                </div>
                <div class="editar_perfilMoviles">
                        {% if user.Id == usuario.id %}
                             <a href="{{
                                        path(
                                        'editar',
                                        {'id' : user.Id}
                                        )}}">Editar perfil</a>
                        {% else %}
                        {% set follow = FollowUsuario(user.Id , usuario.id) %}
                            {% if follow %}
                                <a class="follow" id="seguir" onclick="Seguir({{user.id}},{{usuario.id}})">Seguir</a>
                            {% else %}
                                <a class="unfollow" id="seguir" onclick="DejarSeguir({{user.id}},{{usuario.id}})"><i class="bi bi-person-check-fill"></i></a>
                            {% endif %}
                        {% endif %}
                        {% if user.Id == usuario.id %}
                        <div title="cerrar sesion" class="cerrarSesionMoviles">
                            <a href="/logout"><i class="bi bi-box-arrow-left"></i></a>
                        </div>
                        {% endif %}
                        </div> 
            </div>
            <div class="put_messPerfil">
                {% if mensajes != " "%}
                     {% include 'perfil/mensaje.html.twig' %}              
                {% endif %}
            </div>
            <div class="text-center" id="loading">
                <img src="../uploads/img/ajax-loader.gif" id="ani_img_perfil"/>
            </div>
            <div class="br-abj">
                <button class="crear_mensaje" data-bs-toggle="modal" data-bs-target="#Modal1">
                    +<i class="bi bi-pencil-fill"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="Modal1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content ">
                    <div class="modal-body">
                         {{ form_start(formulario, {'attr': {'id': 'formhome'}})}}
                            <div class="my-custom-class-for-errors">
                                {{ form_errors(formulario) }}
                            </div>
                            <div class="mensaje_arriba">
                                    {% if user.img == "" %}
                                    <div class="foto_perfil" style="margin-left: 0;margin-right: 10px;background-image: url(../../uploads/img/perfil_defecto.png)">
                                        <input type="text" value="../uploads/img/perfil_defecto.png" id="src" hidden>
                                    </div>   
                                    {% else %}
                                        <div class="foto_perfil" style="margin-left: 0;margin-right: 10px;background-image: url(../../uploads/img/{{user.img}})">
                                            <input type="text" value="../uploads/img/{{user.img}}" id="src" hidden>
                                        </div>
                                    {% endif %}
                                    {{ form_row(formulario.mensaje, {'attr': {'class': 'mensaje_texto','maxlength': '255','placeholder':'Escribe algo' }} ) }}
                            </div>
                            <div class="row">
                                <div id="preview" class="imagen2"></div>
                                <div class="aux">
                                <div class="separador"></div>
                                </div>
                                <div class="btn-send">
                                <div class="imagenformulario">
                                        {{ form_row(formulario.imagen, {'attr': {'style': 'display:none'}}) }}
                                        <label for="mensaje_imagen">
                                            <figure class="subir_img">
                                                <i class="bi bi-image"></i>
                                            </figure>
                                        </label>
                                </div>
                                <button id="submitHome" type="button" class="boton_guardar">Sends</button>
                                </div>
                            </div>
                        {{ form_end(formulario) }}
                    </div>
                        {# <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> #}
            </div>
        </div>
    </div>
    <div class=".card-deck">
    </div>
{% endblock %}
