{% extends 'base.html.twig' %}
{% block body %}
{% set userLoguedImg = UserLogin(user.Id) %}
<div class="body">
        <div class="nav">
            {% include 'home/nav.html.twig' %}
        </div>  
        <div class="home"> 
            <input id="cod_user" type="text" value="{{user.Id}}" hidden/>
            <div class="br-arr"><h3 class="h3-arr">Send</h3></div>
                {% if mensajes != " "%}
                     {% include 'mensaje/mensaje.html.twig' %}
                {% endif %}
                {{ form_start(formulario, {'attr': {'id': 'formrespuesta'}})}}
                            <div class="my-custom-class-for-errors">
                                {{ form_errors(formulario) }}
                            </div>
                            <div class="crear_comentario">
                                    {% if user.img == "" %}
                                        <div data-bs-toggle="modal" data-bs-target="#Modalimg{{user.Id}}" class="foto_perfil" style="margin-right: 10px;background-image: url(../../uploads/img/perfil_defecto.png)">
                                            <input type="text" value="../../uploads/img/perfil_defecto.png" id="src" hidden>
                                        </div>   
                                    {% else %}
                                        <div data-bs-toggle="modal" data-bs-target="#Modalimg{{user.Id}}" class="foto_perfil" style="margin-right: 10px;background-image: url(../../uploads/img/{{user.img}})">
                                            <input type="text" value="../../uploads/img/{{user.img}}" id="src" hidden>
                                        </div>
                                    {% endif %}
                                    {{ form_row(formulario.respuesta, {'attr': {'class': 'mensaje_texto','maxlength': '255','placeholder':'Escribe algo' }} ) }}
                                    {{form_row(formulario.responder,{'attr': {'class': 'boton_comentar'}})}}
                            </div>
                        {{ form_end(formulario) }}
                        <div>
                        {% for comentarios in comentarios %}
                        {% set userComImg = UserLogin(comentarios.coduser) %}
                            <div class="respuesta" style="margin-top:25px;">
                                <div class="perfil">
                                    {% if userComImg == "" %}
                                        <div onclick="irPerfil({{comentarios.coduser}})" class="foto_perfil" style="background-image: url(../../uploads/img/perfil_defecto.png);margin-top:0;">
                                            <input type="text" value="../../uploads/img/perfil_defecto.png" id="src" hidden>
                                        </div>   
                                    {% else %}
                                        <div onclick="irPerfil({{comentarios.coduser}})" class="foto_perfil" style="background-image: url(../../uploads/img/{{userComImg}});margin-top:0;">
                                            <input type="text" value="../../uploads/img/{{userComImg}}" id="src" hidden>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="contenido">
                                    <div class="men_cabecera" style="padding:0;" onclick="irPerfil({{comentarios.coduser}})">
                                        <div class="nombre"><b>{{comentarios.nombreuser}}</b></div>
                                        <div class="tiempo">{{comentarios.fechapublicacion | date("g:i") }}h</div>
                                    </div>
                                    <div class="texto">
                                        {{comentarios.respuesta}}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
        </div>
        
</div>
{% endblock %}

