{% for mensajes in mensajes %}
{% set userImg = UserLogin(mensajes.coduser) %}
<div class="mensaje">
    <div class="perfil">
        {% if userImg == "" %}
            <div data-bs-toggle="modal" data-bs-target="#Modalimg{{usuarioLogueadoId}}" class="foto_perfil" style="background-image: url(../uploads/img/perfil_defecto.png)">
                <input type="text" value="uploads/img/perfil_defecto.png" id="src" hidden>
            </div>   
        {% else %}
            <div data-bs-toggle="modal" data-bs-target="#Modalimg{{usuarioLogueadoId}}" class="foto_perfil" style="background-image: url(../uploads/img/{{userImg}})">
                <input type="text" value="uploads/img/{{userImg}}" id="src" hidden>
            </div>
        {% endif %}
        {% include 'modals/modalimgPerfil.html.twig' %}
        <div class="aux" style="height: 77%;"></div>
    </div>
    <div class="contenido">
        <div class="men_cabecera" onclick="irPerfil({{mensajes.coduser}})">
            <div class="nombre"><b>{{mensajes.nombreuser}}</b></div>
            <div class="tiempo">{{mensajes.fechapublicacion | date('Y-m-d') }}</div>
            <div class="dropdown show">
                <button class="opciones" href="#" role="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i id="puntitos" class="bi bi-three-dots"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                        <button class="dropdown-item" onclick="Eliminar({{mensajes.id}})">Eliminar</button>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>
            <div class="texto">{{ mensajes.mensaje }} </div>
                {% if mensajes.imagen !="" %}
                    <div class="imagen" id="imagenclick">
                        <img data-bs-toggle="modal" data-bs-target="#Modalimg{{mensajes.id}}" src="../uploads/img/{{mensajes.imagen}}" class="img_mensaje" />
                        <input type="text" value="../uploads/img/{{mensajes.imagen}}" id="src" hidden>
                    </div>
                    {% include 'modals/modalimg.html.twig' %}
                {% endif %}
    </div>
    
</div>
{% endfor %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../js/img.js"></script>


  

