{% for test in test %}
 {% set userImg = UserLogin(usuarioLogueadoId) %}
 <div class="tarjetaCompletaUsuario">
    <div class="perfil">
    {% if userImg == "" %}
        <div onclick="irPerfil({{usuarioLogueadoId}})" class="foto_perfil" style="background-image: url(../uploads/img/perfil_defecto.png)">
            <input type="text" value="uploads/img/perfil_defecto.png" id="src" hidden>
        </div>   
    {% else %}
        <div onclick="irPerfil({{usuarioLogueadoId}})" class="foto_perfil" style="background-image: url(../uploads/img/{{userImg}})">
            <input type="text" value="uploads/img/{{userImg}}" id="src" hidden>
        </div>
    {% endif %}
        <div class="aux" style="height: 77%;" onclick="irMensaje({{test.id}})"></div>
    </div>
    <div id="contenido" >

        <div id="tarjetaUsuario" class="p-2">
            <div class="nombre"><b >{{test.username}}</b>
            
            </div>
        </div>
    </div>        
</div>    
{% endfor %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>