{% for test in test %}
 {% set userImg = UserLogin(usuarioLogueadoId) %}
 <div class="tarjetaCompletaUsuario">
    <div class="perfilImg">
    {% if test.img == "" %}
        <div onclick="visitarPerfil({{test.id}})" class="foto_perfilBuscador" style="background-image: url(../uploads/img/perfil_defecto.png)">
            <input type="text" value="uploads/img/perfil_defecto.png" id="src" hidden>
        </div>   
    {% else %}
        <div onclick="visitarPerfil({{test.id}})" class="foto_perfilBuscador" style="background-image: url(../uploads/img/{{test.img}})">
            <input type="text" value="uploads/img/{{test.img}}" id="src" hidden>
        </div>
    {% endif %}
        <div class="aux" style="height: 77%;" onclick="irMensaje({{test.id}})"></div>
    </div>
    <div id="contenido" >

        <div id="cabeceraBuscador">
            <div class="nombre"><b >{{test.username}}</b></div>
            <div class="descripcion">{{test.description}}</div>
        </div>
    </div>        
</div>    
{% endfor %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../js/img.js"></script>
