{% for mensajes in mensajes %}
{% set userImg = UserLogin(mensajes.coduser) %}
<div class="mensaje">
    <div class="perfil">
         {% if userImg == "" %}
            <div class="foto_perfil" style="background-image: url(../../uploads/img/perfil_defecto.png)">
                <input type="text" value="../../uploads/img/perfil_defecto.png" id="src" hidden>
            </div>   
        {% else %}
            <div class="foto_perfil" style="background-image: url(../../uploads/img/{{userImg}})">
                <input type="text" value="../../uploads/img/{{userImg}}" id="src" hidden>
            </div>
        {% endif %}
        <div class="aux" style="height: 77%;" onclick="irMensaje({{mensajes.id}})"></div>
    </div>
    <div class="contenido">
        <div class="men_cabecera">
            <div class="nombre" onclick="irPerfil({{mensajes.coduser}})"><b>{{mensajes.nombreuser}}</b></div>
            <div class="tiempo" onclick="irPerfil({{mensajes.coduser}})">{{mensajes.fechapublicacion | date('Y-m-d') }}</div>
            <div class="dropdown show">
                <button class="opciones" href="#" role="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i id="puntitos" class="bi bi-three-dots"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                        <button class="dropdown-item" onclick="Eliminar({{mensajes.id}})">Eliminar</button>
                </div>
            </div>
        </div>
            <div onclick="irMensaje({{mensajes.id}})" class="texto">{{ mensajes.mensaje }} </div>
                {% if mensajes.imagen !="" %}
                    <div class="imagen" id="imagenclick">
                        <img data-bs-toggle="modal" data-bs-target="#Modalimg{{mensajes.id}}" src="../uploads/img/{{mensajes.imagen}}" class="img_mensaje" />
                        <input type="text" value="../uploads/img/{{mensajes.imagen}}" id="src" hidden>
                    </div>
                    {% include 'modals/modalimg.html.twig' %}
                {% endif %}
                <div class="interaccion">
                    <div onclick="irMensaje({{mensajes.id}})">
                        <div class="interComen">
                            <div class="icoComentario"><i style="color:#9865C6" class="bi bi-chat"></i></div><div class="likeTotales">{{ComentariosTotales(mensajes.id)}}</div>
                        </div>
                    </div>
                   {% set likes = LikeUsuario(usuarioLogueadoId,mensajes.id) %}
                   {% if likes %}
                    <div class="heart" id='like{{mensajes.id}}' onclick="QuitarLike({{mensajes.id}},{{usuarioId}})">
                        <div class="corazon" id="corazon{{mensajes.id}}"><i class="bi bi-heart-fill"></i></div><div class="likeTotales">{{LikesTotales(mensajes.id)}}</div>
                    </div>
                    {% else %}
                    <div class="heart" id='like{{mensajes.id}}'  onclick="Like({{mensajes.id}},{{usuarioId}})">
                        <div class="corazon" id="corazon{{mensajes.id}}"><i id="nolike" class="bi bi-heart"></i></div><div class="likeTotales">{{LikesTotales(mensajes.id)}}</div>
                    </div>
                    {% endif %}
                </div>
    </div>
    
</div>
{% endfor %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../js/img.js"></script>


  

